*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: burlywood;
}
/* --------------------------- */
/* HEADER STYLES */
/* --------------------------- */

.header-cont{
    background-color: aqua;
   
    width: 100%;
    flex: 0.1;
    text-align: center;
    font-size: 56px;
}
/* --------------------------- */
/* CONTENT STYLES */
/* --------------------------- */
.content-cont{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    gap:250px;
}

/* Canvas styles */
.canvas {
    border: solid 5px black;
    height: 600px;
    width: 800px;
}


/* Color palette styles */
.color-palette{  /* The whole left side palette */
    border: solid 5px black;
    height: 600px;
    width: 400px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 60px;
}

.color-picker-cont { /* The section of color pickers inside palette*/
    height: 400px;
    width: 400px; 
    border: solid black 5px;
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;

}

.custom-cont, .black-cont, .eraser-cont, .rainbow-cont{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.custom-selector, .black-selector, .eraser-selector, .rainbow-selector{ /*The selector buttons*/

display: block;
height: 150px;
width: 150px;
border-radius: 50%;
}

.slider-cont{
    width: 100%;
    text-align: center;
    font-size: 46px;
}

.slider {
    --thumbSize: 30px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    opacity: 0.5;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance: none;
    width: var(--thumbSize);
    height: var(--thumbSize);
    border-radius: 50%;
    background: #04AA6D;
    cursor:grab;
}



.slider::-webkit-slider-thumb:active{
    cursor: grabbing;
}

/* FOOTER STYLES */
.footer {
    background-color: brown;
    margin-top :auto;
    width: 100%;
    text-align: center;
    
}
